* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}



window#waybar {
    background-color: transparent;
    color: #ffffff;

}

window#waybar.hidden {
    opacity: 0.2;
}



button {
    color: #000000;
    border-radius: 15px;
    background-color: rgba(218, 160, 82, 1)

}

button:hover {
    background: rgba(218, 160, 82, 1);
    border-radius: 15px;

}



#pulseaudio:hover {
    background-color: rgba(208, 162, 90, 1);
}

#network:hover {
    background-color: rgba(208, 162, 90, 1);
}

#cpu:hover {
    background-color: rgba(208, 162, 90, 1);
}




#workspaces {
    background-color: rgba(218, 160, 82, 1);
    border-radius: 15px;
    color: #000000;
}

#workspaces button:hover {
    background: rgba(163, 187, 90, 1);
    border-radius: 15px;

}

#workspaces button.focused {
    background-color: rgba(218, 160, 82, 1);
    border-radius: 15px;
}

#workspaces button.urgent {
    border-radius: 15px;
    background-color: rgba(218, 160, 82, 1);
}






#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}
#window,



#clock {
    background-color: rgba(163, 135, 90, 0.95);
    border-radius: 15px;
    color:#000000;
    margin: 5 0px;
}



label:focus {
    background-color: #000000;
}



#cpu {
    background-color: rgba(163, 162, 90, 1);
    color: #000000;
    border-radius: 15px;
    margin: 5 0px;
}

#memory {
    background-color: rgba(163, 162, 90, 1);
    border-radius: 15px;
    color: #000000;
    margin: 5 0px;
}



#network {
    background-color: rgba(163, 187, 90, 1);
    border-radius: 15px;
    color: #000000;
    margin: 5 0px;
}

#network.disconnected {
    background-color: rgba(199, 122, 47, 1);
    border-radius: 15px;
    margin: 5 0px;
}



#pulseaudio {
    background-color: rgba(163, 187, 90, 1);
    color: #000000;
    border-radius: 15px;
    margin: 5 0px;
}

#pulseaudio.muted {
    background-color: rgba(199, 122, 47, 1);
    color: #2a5c45;
    border-radius: 15px;
    margin: 5 0px;
}



#tray {
    background-color: rgba(116, 187, 90, 0.8);
    border-radius: 15px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    border-radius: 15px;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
    border-radius: 15px;
}



#language {
    background: rgba(116, 187, 90, 0.8);
    color: #000000;
    padding: 0 5px;
    border-radius: 15px;
    min-width: 10px;
    margin: 5 0px;
}

#custom-poweroff{
    background: rgba(233, 146, 76, 1);
    color: #000000;
    border-radius: 15px;

}

#custom-reboot{
    background: rgba(233, 146, 76, 1);
    color: #000000;
    border-radius: 15px;
}

